html {
	font-size: 62.5%;
    box-sizing: initial;
    text-align: center;
}

/*couleurs page*/
:root{
    --color-default: #1d1c1c;
    --color-text: #e9dddd;
	--color-primary: #0099ff;
}
/*fond de la page*/
body {
	background-color:var(--color-default); 
	color: var(--color-text); 
	font-family: "Century Gothic", helvetica, arial, sans-serif; 
	font-size: 1.4rem; 
	line-height: 3rem; 
    
    
    margin: 3rem;
	
}

header h1{
    position:relative;
	top: 10px; 
	text-align: center;

}

header img{
	height: 150px;
	width: 150px;
	position: static;
	top: 10px;
 }

section h2{
    text-align: center;
}

main{
	text-align: center;
}

ul{
	overflow: hidden;
}

ul li{
	padding: 4rem;
    display:block; 
	
}

ul li img{
	border-radius: 5px;
    box-shadow: 0 0 10px #000000;
	margin: 1rem;
}

form input, select{
	display: inline-block;
    background-color: #423e3e;
    border: 4px outset #0099ff;
    color: #757575;
    font-size: 13px;
    padding: 5px;
    width: 350px;
    margin: 2rem;
	border-radius: 5px;
}

/*LE BOUTON*/
.button {
    display: inline-block;
    background-color: #0099ff;
    border: 4px outset #0099ff;
    color: #ffffff;
    text-align: center;
    font-size: 23px;
    padding: 7px;
    width: 400px;
	border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5rem;
    
  }
 
.button:hover, .button:focus {
    background: #0099ff;
    text-shadow: 0 2px rgb(0, 0, 0);
    border: 1px solid #0099ff;
    box-shadow: 0 0 15px #c9c8c8;

}
 
.button:active {
    background: #0099ff;
    text-shadow: 0 2px rgb(0, 0, 0);
    border: 1px solid #0099ff;
}

/*2022 streaming*/
footer{
    margin-top: 10rem;
    text-align: center;
}